<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <link rel="icon" href="{{ url_for('static', filename='../static/img/favicon.svg') }}" />
    <title>Fallod</title>
    <link rel="stylesheet" href="../static/wrapper.css" type="text/css">

</head>

<body>
    <!-- <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper  light-blue darken-1 hide-on-med-and-down" id='header'>
                <h href="#!" class="brand-logo center">
                    Fallod
                </h>
                <ul class="right">
                    <a href="help" id="help" target="_blank">help</a>
                </ul>
            </div>
            <a href="#" class="sidenav-trigger right" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
        </nav>
        <ul class="sidenav" id="mobile-links">
            <a href="#" class="sidenav-close " data-target="mobile-links">
                <i class="material-icons close-icon">close</i>
            </a>

            <div class="menu">
                <li><a href="#">Contents1</a></li>
                <li><a href="#">Contents2</a></li>
                <li><a href="#">Contents3</a></li>
                <li><a href="#">Contents4</a></li>
            </div>
        </ul>
    </div>

    <ul class="sidenav" id="mobile-links">
        <li><a href="help" target="_blank">help</a></li>
    </ul> -->

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper  light-blue darken-1" id='header'>
                <h href="#!" class="brand-logo center" id="nico_font">
                    Fallod
                </h>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">
                        menu
                    </i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <a href="help" id="help" target="_blank">help</a>
                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="help" target="_blank">help</a></li>
    </ul>

    <div class="container" id="fixed-area">
        <iframe src="./map.html"></iframe>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $('.sidenav').sidenav({
            edge: 'right',
        });
    </script>
</body>

</html>